.container {
    width: 100%;
    margin: 0 auto;
}

header,
footer {
    width: 100%;
    text-align: center;
}

.column1,
.column2,
.column3 {
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 20px;
}

nav a {
    display: block;
    margin: 10px 0;
}